{% extends '_base.html' %}
{% from 'bootstrap4/form.html' import render_form %}
{% block title %}Home{% endblock %}
{% block content %}

<header class="content-header">
    <h1>User Registration</h1>
    <hr>
</header>

<span>Sending confirmation emails with Flask, Redis Queue and Amazon Simple Email Service (SES) </span>
<br><br>

<!-- Flash Messages -->
{% block flash_messages %}    
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        
          <div class="row">
            <div class="col-12">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                      <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
      
    {% endif %}
{% endwith %}
{% endblock flash_messages %}

<!-- Registration Form -->
<div class="row">
    <div class="col-sm-6">
        {{ render_form(form, button_style='primary') }}
    </div>
</div>

<br><br>

<!-- Registered users table-->
<div class="row">
    <div class="col-sm-12">
        <h3>Registered Users</h3>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Email Sent?</th>
                    <th>Confirmed?</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td data-user="{{ user.id }}">{{ user.email }}</td>
                        <td data-user="{{ user.id }}" data-field="sent">{{ user.email_sent }}</td>
                        <td data-user="{{ user.id }}" data-field="confirm">{{ user.confirmed }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}